body{
  text-align: center;
  background: #000;
  font-family: "Meiryo", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", "微軟雅黑體", Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: white;
}/* You can add global styles to this file, and also import other style files */
